{
    "plugins": [
        [
            "module-resolver",
            {
                "alias": {
                    "@": "./src",
                    "@styles": "./src/styles",
                    "@components": "./src/components",
                    "@hooks": "./src/hooks",
                    "@common": "./src/common"
                }
            }
        ]
    ]
}
