.delete_btn_group {
    display: flex;
    justify-content: space-between;
    button {
        width: 49%;
        background-color: rgb(255, 0, 0);
        border: none;
        font-weight: 500;

        &:hover,
        &:active,
        &:focus {
            background-color: rgb(200, 9, 9);
        }
    }
}
