@import '../../styles/variables';

.container {
    svg {
        font-size: 20px;
    }
}

.user_icon {
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    padding-top: $padding-base;
    cursor: pointer;
}
